<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login / Registration</title>
</head>
    {%if messages%}
        {%for message in messages %}
            <p>{{message}}</p>
        {%endfor%}
    {%endif%}
    <h2>Register</h2>
    <body>
        <form action="/register" method="POST">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="Enter your first name"><br>
            <input type="text" name="last_name" placeholder="Enter your last name"><br>
            <input type="text" name="email" placeholder="Enter your email"><br>
            <input type="text" name="password" placeholder="Enter your password"><br>
            <input type="text" name="confirm_password" placeholder="Confirm your password"><br>
            <input type="submit" value="Register Now">
        </form>
        <h2>Login</h2>
        <form action="/login" method="POST">
            {% csrf_token %}
            <input type="text" name="email" placeholder="Enter your email."><br>
            <input type="text" name="password" placeholder="Enter your password."><br>
            <input type="submit" value="Login">
        </form>
    </body>

</html>